body {
  font-family: 'Microsoft YaHei', STFangSong, Tahoma,'PT Serif',Georgia,Times,'Times New Roman',Serif;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(50,50,50,0.15);
}
H1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    color: #666;
    text-align: center;
}
H2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-bottom: 60px;
    margin-bottom: 40px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 98%;
    line-height: 150%;
    color: #666666;
}
H3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px LightGrey solid;
    width: 98%;
    line-height: 150%;
    color: #666666;
}
H4 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px LightGrey solid;
    width: 98%;
    line-height: 150%;
    color: #666666;
}
.main{
    font-family: "Times New Roman", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    border: 1px solid #ccc;
    padding: 5%;
}
nav {
    font-family: STFangSong, 'Times New Roman';
}

table {
    margin: 6 auto;
    border-collapse: collapse;
}
tr{
    background-color: #fff;
}
tr:hover>td{
    background-color: #f3f3f3;
}
th, td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}
th {
    font-weight: bold;
}

p code {
    font-size: 90%;
    padding: 2px 4px;
    margin: 0 2px;
    border-radius: 4px;
    background-color: #f9f2f4;
    border: 1px solid #d6d6d6;
}
img{
    display: block;
    clear: both;
    max-width: 100%;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 10px #555;
}
a:hover{
    cursor: crosshair;
    background-color: LightGrey;
}

#markdown-toc {
    font-size: 10pt;
    line-height: 14pt;
    overflow: auto;
    border-left: 6px solid #c05b4d ;
    margin-top: 20px;
    margin-bottom: 20px;
}
#markdown-toc a{
    border: none;
}

.copyright {
    font-size: 85%;
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    padding: 1px 20px 1px 8px;
    color: #468847;
    background-color: #dff0d8;
    border-radius: 6px;
}
.copyright a {
    color: #5cb85c;
    font-size: 85%;
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    border: none;
}

