---
layout: default
---

<div class="main-post-list hidden">

  <ol class="post-list">
    {% for post in paginator.posts %}
    <li>
      <h2 class="post-list__post-title post-title">
      <a href="{{ post.url }}" target="_blank" title="访问 {{ post.title }}">
      {{ post.title }}</a></h2>
      <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 150 }}&hellip;</p>
      <div class="post-list__meta">
        <time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">
        {{ post.date | date: "%F"}}</time> 
        &#8226; Tag<a href="/tags" target="_blank">
         {% for tag in post.tags %}
            <span style="display:inline-block;" class="post-list__meta--tags tags">{{ tag }}</span>
         {% endfor %}
            <a style="display:inline-block;" class="btn-border-small" target="_blank" href={{ post.url }}>阅读全文...</a>
      </div>
      <hr class="post-list__divider" />
    </li>
    {% endfor %}
  </ol>

  {% include pagination.html %}

</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
$(document).ready(function()
{
    $("a").attr("target","_blank");
    $(".blog-button").attr("target","_self");
})
</script>