<section class="post-comments">

  {% if site.comment.disqus %}
    <div id="disqus_thread"></div>
    <script>
    
    var disqus_config = function () {
        this.page.url = "{{ page.url | prepend: site.baseurl | prepend: site.url }}";
        this.page.identifier = "{{ page.url }}";
    };

    var disqus_shortname = '{{ site.comment.disqus }}';
    
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>要查看<a href="http://disqus.com/?ref_noscript"> Disqus </a>评论，请启用 JavaScript</noscript>
    
  {% elsif site.comment.duoshuo %}
  <!-- 多说分享框 start -->
  <div class="ds-share" 
  data-thread-key="{{ page.url }}" 
  data-title="{{ page.title }}"
  data-images="{{ site.imageurl }}" 
  data-content="这是什么"
  data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
    <div class="ds-share-inline">
      <ul  class="ds-share-icons-32">
          
          <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);"></a></li>
        <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo"></a></li>
        <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone"></a></li>
        <li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt"></a></li>
        <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat"></a></li>
          
      </ul>
      <div class="ds-share-icons-more">
      </div>
    </div>
 </div>
 <!-- 多说分享框  end  -->
  <!-- 多说评论框 start -->
    <div class="ds-thread" 
    data-thread-key="{{ page.url }}" 
    data-title="{{ page.title }}" 
    data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
    </div>
  <!-- 多说评论框  end  -->
  <!-- 多说公共JS代码 start -->
    <script type="text/javascript">
        var duoshuoQuery = {short_name:"{{ site.comment.duoshuo }}"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
  <!-- 多说公共JS代码  end -->
  {% elsif site.comment.uyan %}
  <!-- 友言 start-->
  <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script>
var cloudTieConfig = {
  url: document.location.href, 
  sourceId: "",
  productKey: "e0f81a77afd4450e9035a0372da60e37",
  target: "cloud-tie-wrapper"
};
var yunManualLoad = true;
Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
</script>
  <!-- 友言 end-->
  {% endif %}
</section>
