<section class="footer">
    <footer>
       <p class="copyright text-muted">
        Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} Theme by <a href="{{ site.url }}">{{ site.title }}</a> |
        <iframe
            style="margin-left: 2px; margin-bottom:-5px;"
            frameborder="0" scrolling="0" width="91px" height="20px"
            src="https://ghbtns.com/github-btn.html?user=leopardpan&repo=leopardpan.github.io&type=star&count=true" >
        </iframe>
    </p>
    	<div align="right">
			<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
			<span id="busuanzi_value_page_pv">
				本站访问：
				<span id="busuanzi_value_page_pv">
				<!--<i class="fa fa-spinner fa-spin"></i>--></span> 次
			</span>
      	</div>

    </footer>
</section>
