<nav class="cover-navigation navigation--social">
  <ul class="navigation">

  {% if site.social.weibo %}
  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/{{site.social.weibo}}" title="@{{site.title}} 的微博" target="_blank">
      <font color="red">
	  <i class='social fa fa-weibo'></i>
	  </font>
      <span class="label">Weibo</span>
    </a>
  </li>
  {% endif %}

  {% if site.social.github %}
  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/{{site.social.github}}" title="@{{site.title}} 的 Github" target="_blank">
      <i class='social fa fa-github fa-inverse'></i>
      <span class="label">Github</span>
    </a>
  </li>
  {% endif %}
  
  {% if site.social.tencentweibo %}
  <!-- tencentweibo -->
  <li class="navigation__item">
    <a href="http://t.qq.com/{{site.social.tencentweibo}}" title="@{{site.title}} 的 腾讯微博" target="_blank">
      <font color="Aqua">
	  <i class='social fa fa-tencent-weibo'></i>
	  </font>
      <span class="label">TencentWeibo</span>
    </a>
  </li>
  {% endif %}
  
  {% if site.social.qq %}
  <!-- qq -->
  <li class="navigation__item">
    <a href="http://user.qzone.qq.com/{{site.social.qq}}" title="@{{site.title}} 的 QQ 空间" target="_blank">
      <font color="yellow">
	  <i class='social fa fa-star'></i>
	  </font>
      <span class="label">QQ 空间</span>
    </a>
  </li>
  {% endif %} 
  
  {% if site.social.lofter %}
  <!-- lofter -->
  <li class="navigation__item">
    <a href="http://{{site.social.lofter}}.lofter.com/" title="@{{site.title}} 的 Lofter" target="_blank">
      <i class='social fa fa-gbp'></i>
      <span class="label">Lofter</span>
    </a>
  </li>
  {% endif %}
  
  {% if site.social.topit %}
  <!-- topit -->
  <li class="navigation__item">
    <a href="http://www.topit.me/user/{{site.social.topit}}" title="@{{site.title}} 的 Topit" target="_blank">
      <font color="red">
	  <i class='social fa fa-heart'></i>
	  </font>
      <span class="label">Topit</span>
    </a>
  </li>
  {% endif %} 

  {% if site.social.mail %}
  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:{{site.social.mail}}" title="@{{site.title}}的邮箱">
      <font color = "BlueViolet">
      <i class='social fa fa-envelope'></i>
	  </font>
      <span class="label">Email</span>
    </a>
  </li>
  {% endif %}
   
  {% if site.social.twitter %}
  <!-- Twitter -->
  <li class="navigation__item">
    <a href="http://twitter.com/{{site.social.twitter}}" title="@{{site.social.twitter}}" target="_blank">
      <i class='social fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>
  {% endif %}

  {% if site.social.gplus %}
  <!-- Google Plus -->
  <li class="navigation__item">
    <a href="https://plus.google.com/{{site.social.gplus}}" rel="author" title="Google+" target="_blank">
      <i class='social fa fa-google-plus-square'></i>
      <span class="label">Google Plus</span>
    </a>
  </li>
  {% endif %}
  
    <!-- RSS -->
  <li class="navigation__item">
    <a href="/feed.xml" rel="author" title="RSS" target="_blank">
      <font color = "orange">
      <i class='social fa fa-rss'></i>
	  </font>
      <span class="label">RSS</span>
    </a>
  </li>
  </ul>
</nav>
