<nav class="cover-navigation navigation--social">
  <ul class="navigation">

  <!-- {% if site.social.weibo %} -->
  <!-- Weibo -->
  <li class="navigation__item">
	<a href="http://weibo.com/3847637730" title="@{{site.title}} µÄÎ¢²©" target="_blank">
	  <font color="red">
	  <i class='social fa fa-weibo'></i>
	  </font>
	  <span class="label">Weibo</span>
	</a>
  </li>
  <!-- {% endif %} -->

  <!-- {% if site.social.github %} -->
  <!-- Github -->
  <li class="navigation__item">
	<a href="https://github.com/jggnice" title="@{{site.title}} µÄ Github" target="_blank">
	  <i class='social fa fa-github fa-inverse'></i>
	  <span class="label">Github</span>
	</a>
  </li>
  <!-- {% endif %} -->
  </ul>
</nav>
