<html>
    <head>
        <meta content='{{ page.title }} - {{ site.title }}' name='title' />
        <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
        <title>{{ page.title }}</title>
       <link rel="stylesheet" href="/sources/css/about.css" type="text/css" media="all">
    </head>
    <body>
        <div id='container'>
            <h1>Li Shiwang</h1>
            <div id="top">
                <div id="top-left">
                </div>
                <div id="top-right">
                    <img name="name" id="name" src="/images/name_cn.png" alt=""></img>
                    <p>Email: whysocute@sina.com</p>
                </div>
            </div>
            <div class="content">
                    {{ content }}
            </div>
        </div>
    </body>
</html>
