<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<!--   <link rel="icon" type="image/png" href="/assets/images/favicon.png" /> -->
<!--   <link href="/assets/images/favicon.png" rel="shortcut icon" type="image/png"> -->
<!-- <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}"> -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!--   <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> -->
<!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}"> -->
  
  <script type="text/x-mathjax-config">
MathJax.Hub.Config({
	   tex2jax: {
		inlineMath: [ ['$','$'], ["\\(","\\)"] ],
		displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
		processEscapes: true,
		skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
	  }
	 });
	 MathJax.Hub.Queue(function() {
	   var all = MathJax.Hub.getAllJax(), i;
	   for(i=0; i < all.length; i += 1) {
		all[i].SourceElement().parentNode.className += ' has-jax';
		}
		});
</script>
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
</head>


  <body>
	<span class="mobile btn-mobile-menu">
		<i class="fa fa-list btn-mobile-menu__icon"></i>
		<i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
	</span>
	
	<!--  {% include side-panel.html %} -->
<header 
class="
panel-cover 
panel-cover--collapsed"
style="background-image: url('/assets/images/background-cover.jpg')">
	<div class="panel-main">
		<div class="panel-main__inner panel-inverted">
		<div class="panel-main__content">
				<!-- 头像效果-start -->
			<div class="ih-item circle effect right_to_left">						
				<a href="/#blog" title="前往 {{ site.title }} 的主页" class="blog-button">
								<div class="img"><img src="/assets/images/avatar.jpg" alt="img"></div>
								<div class="info">
										<div class="info-back">
												<h2>{{ site.title }}</h2>
												<p align = center >
						<font color = "red">{{ site.description }}</font>
						</p>
						
										</div>
								</div>
				</a>
			</div>
				<!-- 头像效果-end -->
				<h1 class="panel-cover__title panel-title">
			<a href="/#blog" title="link to homepage for {{ site.title }}" class="blog-button">
			{{ site.title }}
			</a>
		</h1>
				<!-- {% if site.subtitle %} -->
				<span class="panel-cover__subtitle panel-subtitle">{{site.subtitle}}</span>
				<!-- {% endif %} -->
				<hr class="panel-cover__divider" />
				<p class="panel-cover__description">
		<font color = "red">
		{{ site.description }}
		</font>
		</p>
				<hr class="panel-cover__divider" />
				
				<!-- {% if site.welcome_message %} -->
				<p class="panel-cover__description">{{ site.welcome_message }}</p>
				<!-- {% endif %} -->
				
				<div class="navigation-wrapper">
					<div>
						<nav class="cover-navigation cover-navigation--primary">
							<ul class="navigation">
									<li class="navigation__item"><a href="/#blog" title="{{site.blog_button.description}}" class="blog-button">{{site.blog_button.title}}</a></li>
								<!-- {% for item in site.nav %} -->
									<li class="navigation__item"><a href="{{item.url}}" target="_blank" title="{{item.description}}">{{item.title}}</a></li>
								<!-- {% endfor %} -->
				<iframe id="neteasemusic" 
						frameborder="no" 
						border="0" 
						marginwidth="0" 
						marginheight="0" 
						width=298 
						height=52 
						src="http://music.163.com/outchain/player?type=0&id=155714582&auto=0&height=32">
				</iframe>
							</ul>
						</nav>
					</div>
					
		<div>
				<nav class="cover-navigation navigation--social">
	<ul class="navigation">

	<!-- {% if site.social.weibo %} -->
	<!-- Weibo -->
	<li class="navigation__item">
		<a href="http://weibo.com/3847637730" title="@{{site.title}} 的微博" target="_blank">
			<font color="red">
		<i class='social fa fa-weibo'></i>
		</font>
			<span class="label">Weibo</span>
		</a>
	</li>
	<!-- {% endif %} -->

	<!-- {% if site.social.github %} -->
	<!-- Github -->
	<li class="navigation__item">
		<a href="https://github.com/jggnice" title="@{{site.title}} 的 Github" target="_blank">
			<i class='social fa fa-github fa-inverse'></i>
			<span class="label">Github</span>
		</a>
	</li>
	<!-- {% endif %} -->
	</ul>
</nav>

		</div>
				</div>
			</div>
		</div>
		
		<!-- {% if site.cover_color %}
		<div class="panel-cover--overlay cover-{{site.cover_color}}"></div>
		{% else %}
		<div class="panel-cover--overlay cover-disabled"></div>
		{% endif %} -->
	<div class="panel-cover--overlay cover-blue"></div>
	</div>
</header>

	<!--end  {% include side-panel.html %} -->

	<div class="content-wrapper">
		<div class="content-wrapper__inner">
			{{ content }}
			<!-- {% include footer.html %} -->
		</div>
	</div>
	
	<!-- {% include external.html %} -->
	
  </body>

</html>