<html>
  <head>
	<link rel="shortcut icon" type="image/x-icon" href="/images/1362884249.jpg" media="screen" />
    <meta content='Li Shiwang' property='og:title' />
    <meta content="blog" property="og:type" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Li Shiwang</title>
    <link href='/sources/css/bootstrap.min.css' rel='stylesheet' type='text/css' />
    <link href='/sources/css/bootstrap-theme.min.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    {% include nav.html %}
    <div class="row" style="padding-top: 70px">
      <div class="container center-block">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Blog</h3>
            </div>
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    <script src="/sources/js/jquery.min.js"></script>
    <script src="/sources/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $("ul li").hover(function(){
        $(this).css("background-color","#f3f3f3");
      },function(){
        $(this).css("background-color","#fff");
      });
    });
    $("ul li").click(function() {
      $("a",this)[0].click();
    });
    </script>
    {% include google-analytics.html %}
  </body>
</html>
